In [4]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [37]:
df1 = pd.read_csv(r"C:\Users\Udhir Dubey\Downloads\archive (2)\movies.csv")

In [38]:
df1 =['Movie Id','Title','Genre']

In [39]:
pd.isnull(df1).sum()

0

In [12]:
df1 = df1.assign(Genre=df1[ 'Genre'].str.split('|')).explode('Genre')

In [17]:
df1['Genre']=df1['Genre'].str.replace(',,','')

In [19]:
df1['Genre']=df1['Genre'].str.replace(",","")

In [20]:
df1.head()

   Movie Id             Title      Genre
0         1  Toy Story (1995)  Adventure
0         1  Toy Story (1995)  Animation
0         1  Toy Story (1995)   Children
0         1  Toy Story (1995)     Comedy
0         1  Toy Story (1995)    Fantasy

In [21]:
# Generate mock movie data
np.random.seed(42)
num_movies = 1000
genre_choices = ['Action', 'Comedy', 'Drama', 'Adventure', 'Horror']
director_choices = ['Director A', 'Director B', 'Director C', 'Director D']
actor_choices = ['Actor X', 'Actor Y', 'Actor Z']
data = {
    'Genre': np.random.choice(genre_choices, num_movies),
    'Director': np.random.choice(director_choices, num_movies),
    'Actor': np.random.choice(actor_choices, num_movies),
    'Rating': np.random.uniform(1, 10, num_movies)
}
movie_df = pd.DataFrame(data)

In [22]:
# Convert categorical features to numerical using one-hot encoding
movie_df_encoded = pd.get_dummies(movie_df, columns=['Genre', 'Director', 'Actor'], drop_first=True)

In [23]:
# Split data into features (X) and target (y)
X = movie_df_encoded.drop('Rating', axis=1)
y = movie_df_encoded['Rating']

In [24]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:
# Initialize the LinearRegression model
model = LinearRegression()

In [26]:
# Fit the model on the training data
model.fit(X_train, y_train)

LinearRegression()

In [27]:
# Make predictions on the testing data
y_pred = model.predict(X_test)

In [28]:
# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 7.07